@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #E6CCFF;
}

body {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
